<template>
    <div>
        <h1>账户信息</h1>
        <button @click="logout">退出登录</button>
    </div>
</template>

<script>
import {delCookie } from '../../utils/utils.js'
export default {
    methods:{
        logout(){
            delCookie('token');
            this.$router.replace('/login')
        }
    }
}
</script>

<style>

</style>
