.list{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.list-inp {
    width: 100%;
    height: .88rem;
    padding:0 5%;
    display: flex;
}
.list-inp .iconfont{
    width: 0.6rem;
    line-height: 3;
    text-align: center;
}
.list-inp input {
    margin-top:.2rem;
    flex: 1;
    height: .68rem;
    background:  #eee;
    border:none;
    text-indent: .2rem;
    border-radius: .5rem;
}

.list-section{
    flex:1;
    overflow-y: scroll;
}
.list-box{
    width:100%;
    border-bottom:1px solid #eee;
    padding:.1rem;
}
.list-boxtop{
    width:100%;
    margin-top:.3rem;
    display:flex;
    align-items: center;
    background: rgb(248, 248, 248);
    padding:.1rem;
}
.list-box input{
    margin: 0 .2rem;
}
.box-right{
    flex:1;
}
.list-dl{
    display:flex;
    align-items: center;
}
.list-dl dt img{
    width:1rem;
    height:1rem;
}
.list-dl dd{
    flex:1;
    line-height: 0rem;
    padding-left: .2rem;
}
.right{
    float: right;
}
.listfooter{
    width:100%;
    line-height:.88rem;
    display:flex;
}
.listall{
    width:40%;
    text-align: center;
    border-top:1px solid #eee;
}
.listfooter button{
    width:30%;
    border:none;
}
.listfooter :nth-child(3){
    background:orange;
}
.remind{
    text-align: center;
    line-height: 3;
}