<template>
    <div class='list'>

        <Header>
            商品列表
        </Header>
        <div class="list-inp">
            <input type="text" placeholder="请输入商品名称" v-model="searchWords">
            <span class="iconfont icon-search"></span>
        </div>
        <section class="list-section" ref="scroller">
            <div class="list-box" v-for="(goodslist,ind) in clist">
                <div class="list-boxtop">
                    <input type="checkbox" v-model="goodslist.checked" @change="$store.commit('toggleChecked',[goodslist.id,goodslist.checked])"/>
                    <div class="box-right" @click="goToDetail(goodslist.id)">
                        <dl class="list-dl">
                            <dt>
                                <img :src="goodslist.titleImg" alt="">
                            </dt>
                            <dd>
                                <p>{{goodslist.goodsname}}</p>
                                <span class="right icon iconfont icon-right"></span>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="list-boxbott">
                    <p>
                        <span>商品编号：</span>
                        <span>{{goodslist.id}}</span>
                    </p>
                    <p>
                        <span>重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：</span>
                        <span>{{goodslist.goodsweight}}G</span>
                    </p>
                    <p>
                        <span>售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</span>
                        <span>{{goodslist.goodsprice}}.00</span>
                        <button class="right" @click="$store.dispatch('onSale',[goodslist.id])">上架</button>
                    </p>

                </div>
            </div>
            <p class="remind" v-show="clist.length===0">暂无商品，请添加</p>
        </section>
        <footer class="listfooter">
            <div class="listall">
                <input type="checkbox" v-model="$store.state.checkedAll" @change="$store.commit('checkedAllFn')"> 全选</div>
            <button @click="onSale">上架</button>
            <button>下架</button>
        </footer>
    </div>
</template>
<script>
import store from '../../store/store.js'
    import Header from '../../components/header';
    export default {
        name: 'goodslist',
        data() {
            return {
                list: [],
                searchWords:''
            }
        },
        beforeRouteEnter(to,from,next){
            //this拿不到
            
            store.commit('updateFrom',from.name)
            next((vm)=>{
                
                if(from.name==='goodsdetail' && vm.$store.state.goodslist.length==0){
                    vm.$store.commit('saveGoodslist',JSON.parse(localStorage.getItem('goodslist')))
                }
            })
        },
        created() {
            console.log('created')
        },
        computed:{
            clist(){
                
                if(this.searchWords!=''){
                    
                    return this.$store.state.goodslist.filter((item)=>{
                        return item.goodsname.indexOf(this.searchWords)>-1
                    })  
                }
                return this.$store.state.goodslist
            }
        },
        mounted() {  

            if(this.$store.state.from==='goodsdetail'){
                
                this.$nextTick(()=>{
                    this.$refs.scroller.scrollTop = localStorage.getItem('goodslist-scrollTop') || 0
                })

            }else{
                this.$store.dispatch("getGoodsList")
            }

        },
        components: {
            Header
        },
        methods: {
            goToDetail(id) {
                
                let st = this.$refs.scroller.scrollTop;
                localStorage.setItem('goodslist-scrollTop',st)

                this.$router.push({
                    name:'goodsdetail',
                    params:{
                        id:id
                    },
                    data:{test:123}
                })
            },
            onSale(){
                
                let arr = this.$store.state.goodslist.filter(item=>{
                    return item.checked
                }).map(v=>{
                    return v.id
                })
                
                if(arr.length==0){
                    this.$messagebox.alert('请选择上架商品')
                }else{
                    this.$store.dispatch('onSale',arr)
                }
            }
        }
    }
</script>
<style scoped>
    @import url("./goodslist.css");
</style>
