.detail {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: -webkit-flex;
    flex-direction: column;
  }
  
  .detail section {
    width: 100%;
    flex: 1;
    overflow: auto;
  }
  
  .detail section .list {
    width: 100%;
    height: auto;
  }
  
  .detail section .list .top {
    width: 100%;
    height: .88rem;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .3rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
  }
  
  .detail section .top .title {
    height: .32rem;
    display: -webkit-flex;
    align-items: center;
    font-size: .32rem;
    border-left: .04rem solid #5ADAD0;
    padding-left: .2rem;
    color: #333;
  }
  
  .detail section .list .bot {
    width: 100%;
    height: auto;
    padding-left: .3rem;
    box-sizing: border-box;
  }
  
  .detail section .list .bot ul {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ebebeb;
    padding: .2rem 0;
    box-sizing: border-box;
  }
  
  .detail section .list .bot ul li {
    width: 100%;
    font-size: .28rem;
    margin-bottom: .14rem;
    display: -webkit-flex;
  }
  
  .detail section .list .bot ul li span {
    color: #999;
  }
  
  .detail section .list .bot ul li:last-child {
    margin-bottom: 0;
  }
  
  .detail section .list .bot ul .bot-l {
    padding-right: .3rem;
    box-sizing: border-box;
    display: -webkit-flex;
    justify-content: space-between;
  }
  
  .detail section .list .bot ul .bot-l b {
    color: #000;
    font-weight: normal;
  }
  
  .detail section .list .bot ul .bot-l span:last-child {
    color: #F2922F;
  }
  
  .detail section .list > ul {
    width: 100%;
    padding: .3rem;
    box-sizing: border-box;
  }
  
  .detail section .goods-price {
    width: 100%;
    height: auto;
    padding: .3rem 0 0 .3rem;
    box-sizing: border-box;
  }
  
  .detail section .goods-price p {
    width: 100%;
    font-size: .28rem;
  }
  
  .detail section .goods-price ul {
    width: 100%;
    height: auto;
    display: -webkit-flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: .3rem;
  }
  
  .detail section .goods-price ul li {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: .3rem;
    margin-top: .2rem;
  }
  
  .detail section .goods-price ul li:nth-child(3) {
    margin-right: 0;
  }
  