<template>
    <div class="detail">
       <Header>商品详情</Header>
        <section>
            <div class="list">
                <div class="top">
                    <span class="title">商品信息</span>
                    <span :class="isShow ? 'iconfont icon-xiangshang' : 'iconfont icon-xiangxia'" @click="toggle(0)"></span>
                </div>
                <div class="bot" v-show="isShow">
                    <ul>
                        <li><span>商品编号：</span>XW{{this.goodsList.id}}</li>
                        <li><span>商品名称：</span>{{this.goodsList.goodsname}}</li>
                        <li><span>商品条形码：</span>{{this.goodsList.id}}</li>
                        <li><span>商品标签：</span>{{this.goodsList.catagory}}</li>
                        <li><span>分类名称：</span>{{this.goodsList.catagory}}</li>
                        <li><span>添加时间：</span>{{this.goodsList.addDate}}</li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <div class="top">
                    <span class="title">价格信息</span>
                    <span class="iconfont icon-xiangshang" @click="toggle(1)"></span>
                </div>
                <div class="bot">
                    <ul>
                        <li class="bot-l">
                            <span>销售价：<b>￥{{this.goodsList.goodsprice}}</b></span>
                            <span @click="changePrice()">修改</span>
                        </li>
                        <li><span>市场价：</span>￥12.00</li>
                        <li><span>成本价：</span>￥1.00</li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <div class="top">
                    <span class="title">规格信息</span>
                    <span class="iconfont icon-xiangshang" @click="toggle(2)"></span>
                </div>
                <div class="bot">
                    <ul>
                        <li><span>重量：</span>{{this.goodsList.goodsweight}}</li>
                        <li><span>库存：</span>299</li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <div class="top">
                    <span class="title">商品图片</span>
                    <span class="iconfont icon-xiangshang" @click="toggle(3)"></span>
                </div>
                <div class="goods-price">
                    <p>商品大图</p>
                    <ul>
                        <li v-show="item.url!==''" v-for="(item,index) in this.goodsList.imgUrl" :key="index">
                            <img :src="item" alt="">
                        </li>
                    </ul>
                </div>
                <div class="goods-price">
                    <p>购物车图</p>
                    <ul>
                        <li><img :src="this.goodsList.titleImg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="list">
                <div class="top">
                    <span class="title">商品详情</span>
                    <span class="iconfont icon-xiangshang" @click="toggle(4)"></span>
                </div>
                <img :src="goodsList.detailImg" alt="" />
            </div>
        </section>
    </div>
</template>

<script>
import Header from "../../components/header.vue";
export default {
  data() {
    return {
      isShow: true,
      goodsList: {},
      list: [0, 1, 2, 3, 4]
    };
  },
  created() {
      let id = this.$route.params.id;
      this.$indicator.open()
      this.$http.post('/back/goodsDetail',{goodsid:id}).then(res=>{
          console.log(res)
          if(res.code==0){
              this.goodsList = res.data
          }
          this.$indicator.close()
      })
  },
  methods: {
    toggle(ind) {
      this.list.forEach((item, index) => {
        if (index === ind) {
          this.isShow = !this.isShow;
        }
      });
    },
    changePrice() {
    
    }
  },
  components: {
    Header
  }
};
</script>

<style scoped>
@import url("./detail.css");
</style>

