#manage-page {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }
  
  .manage-header {
    width: 100%;
    height: .88rem;
    line-height: 0.88rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.15rem;
  }
  
  .manage-content {
    widows: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .manage-content .manage-list {
    width: 100%;
    height: 100%;
  }
  
  .manage-content li {
    width: 90%;
    height: 1.38rem;
    border: 1px solid #eee;
    border-radius: .04rem;
    box-shadow: 1px 2px 2px #eee;
    margin-left: 5%;
    margin-top: .15rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 .15rem;
  }
  
  .manage-content li .classify-left {
    margin-top: .15rem;
  }
  
  .manage-content li .classify-left span {
    color: #999999;
    font-size: .28rem;
  }
  
  .manage-content li .classify-right i.icon {
    font-size: .5rem;
    line-height: 1.38rem;
  }
  
  .manage-content .add-btn {
    width: 100%;
    height: 0.88rem;
    border: none;
    outline: none;
    background: none;
    background: #F2922F;
    color: #fff;
  }
  
  .manage-master {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.38);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  
  .manage-master .manage-dialog {
    width: 72%;
    height: 24.7%;
    background: #fff;
    border-radius: .12rem;
    -webkit-border-radius: .12rem;
    -moz-border-radius: .12rem;
    -ms-border-radius: .12rem;
    -o-border-radius: .12rem;
    position: absolute;
    top: 50%;
    left: 14%;
    margin-top: -32.2%;
  }
  
  .manage-master .manage-dialog h4 {
    width: 100%;
    text-align: center;
    line-height: 1rem;
  }
  
  .manage-master .manage-dialog input {
    width: 90%;
    height: .8rem;
    border: none;
    outline: none;
    background: #EEEEEE;
    margin-left: 5%;
    text-indent: .24rem;
  }
  
  .manage-master .manage-dialog .select-btn {
    width: 100%;
    height: 1rem;
    position: absolute;
    bottom: 0;
    display: flex;
    border-top: 1px solid #EBEBEB;
  }
  
  .manage-master .manage-dialog .select-btn span {
    display: inline-block;
    width: 50%;
    line-height: 1rem;
    text-align: center;
  }
  
  .manage-master .manage-dialog .select-btn span:nth-child(1) {
    border-right: 1px solid #EBEBEB;
  }
  
  .manage-master .manage-dialog .select-btn span.active {
    color: #F2922F;
  }
  