<template>
    <div id="manage-page">
        <Header>分类列表</Header>
        <section class="manage-content">
            <ul class="manage-list">
                <li v-for="(x,i) in catList" :key="x.id">
                    <div class="classify-left">
                        <h4>分类名称：{{x.title}}</h4>
                        <span>添加时间:{{x.date}}</span>
                    </div>
                    <div class="classify-right">
                        <i class="icon iconfont icon-edit" @click="editCat(x.id)"></i>
                        <i class="icon iconfont icon-delete" @click="delCat(x.id)"></i>
                    </div>
                </li>
            </ul>
            <button type="button" class="add-btn" @click="addCat">添加分类</button>
        </section>
    </div>
</template>

<script>
import Header from '../../components/header';
export default {
    name:'Login',
    data(){
        return{
            catList:[]      
        }
    },
    mounted(){
        this.$indicator.open()
        this.$http.get('/back/catlist').then(res=>{
            if(res.code!=0){
                this.$messagebox.alert(res.msg);
            }else{
                this.catList = res.data.cat
            }
            this.$indicator.close()
            
        })
    },
    methods:{
        addCat(){
            this.$messagebox.prompt(" ",'添加分类名称').then(({ value, action }) => {
                if(value){
                    this.$indicator.open()
                    this.$http.get('/back/addCat?title='+value).then(res=>{
                        
                        if(res.code===0){
                            this.$http.get('/back/catlist').then(res=>{
                                
                                this.catList = res.data.cat;
                                this.$indicator.close()
                            })
                        }else{
                            this.$messagebox.alert(res.msg)
                        }

                       
                    })
                }
            });
        },
        editCat(id){
            this.$messagebox.prompt(' ','修改').then(({value,action})=>{

            })
            console.log(id)
        },
        delCat(id){
            this.$messagebox.confirm('你确定删除吗？').then(()=>{
                console.log('queding')
            },()=>{})
            
        }
    },
    components:{
        Header
    }
}
</script>

<style scoped src="./cat.css">

</style>
