#AddShop {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .addshop-header {
    width: 100%;
    height: .88rem;
    line-height: .88rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.15rem;
    border-bottom: 1px solid #eee;
    flex-shrink: 0;
  }
  
  .addShop-content {
    flex: 1;
  }
  
  .add-shop-con {
    width: 100%;
    height: 2.2rem;
    overflow-x: hidden;
  }
  
  .add-shop-con > div {
    width: 96%;
    height: 1rem;
    line-height: 1rem;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-left: 1.8%;
  }
  
  .add-shop-con > div input {
    border: none;
    outline: none;
    padding-left: .69rem;
  }
  
  .add-shop-con .add-shop-classify {
    display: flex;
    justify-content: space-between;
  }
  
  .add-shop-con .add-shop-classify .add-classify-con {
    width: 74%;
    height: 100%;
    border: none;
    outline: none;
    background: #fff;
    display: inline-block;
  }
  
  .add-shop-con-detail {
    width: 92%;
    height: 3.3rem;
    margin-left: 4%;
    margin-top: .2rem;
    border: 1px solid #eee;
    box-shadow: 1px 2px 2px #eee;
  }
  
  .add-shop-con-detail > div {
    width: 96%;
    height: 1rem;
    line-height: 1rem;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-left: 1.8%;
  }
  
  .add-shop-con-detail > div input {
    border: none;
    outline: none;
    padding-left: .69rem;
  }
  
  .add-shop-con-detail .add-shop-weight {
    width: 100%;
    height: 1rem;
    display: flex;
    border-bottom: 1px solid #eee;
  }
  
  .add-shop-con-detail .add-shop-weight > input {
    width: 60%;
    height: .8rem;
    margin-top: .1rem;
  }
  
  .add-shop-con-detail .add-shop-weight .add-select-weight {
    width: 1.8rem;
    height: 0.6rem;
    border: none;
    outline: none;
    background: #F8F8F8;
    margin-top: .2rem;
    border-radius: .26rem;
  }
  
  .block {
    width: 100%;
    height: .2rem;
    background: #F8F8F8;
    margin: .3rem 0;
  }
  
  .add-shop-upload {
    width: 92%;
    height: auto;
    margin-left: 4%;
  }
  
  .upload-success-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .upload-success-img > div {
    width: 2.1rem;
    height: 2.1rem;
    position: relative;
  }
  
  .upload-success-img > div img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .upload-success-img > div .remove-img {
    width: .4rem;
    height: .4rem;
    line-height: .4rem;
    background: #333333;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: .15rem;
    right: .15rem;
    text-align: center;
  }
  
  .addshop-footer {
    width: 100%;
    height: .88rem;
    flex-shrink: 0;
  }
  
  .addshop-footer .apply-add-btn {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    background: #F2922F;
    color: #fff;
    text-align: center;
  }
  
  .upload{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    background: #eee;
    margin: 0 0.1rem;
  }
  .upload span{
    flex: 1;
    line-height: 0.6rem;
    text-align: center;
  }