<template>
    <div id="AddShop">
       <header class="addshop-header">
            <i class="icon iconfont icon-xiangzuojiantou" @click="goback"></i>
            <span>添加商品</span>
            <router-link v-text="msg" to="/add">
            </router-link>   
        </header>
        <section class="addShop-content">
            <div class="add-shop-con">
                <div class="add-shop-name">
                    <span>商品名称</span>
                    <input type="text" placeholder="选择商品名称" v-model="goodsname">
                </div>
                <div class="add-shop-classify">
                     <span>选择分类</span>
                    <select class="add-classify-con" v-model="catagory">
                        <option :value="x.title" v-for="(x,i) in catList">{{x.title}}</option>
                     </select>
                </div>  
            </div>
            <div class="add-shop-con-detail">
                <div class="add-shop-weight">
                     <span>重&nbsp;&nbsp;&nbsp;&nbsp;量</span>
                     <input type="text" placeholder="请输入重量" v-model="goodsweight">
                     <select class="add-select-weight">
                        <option value="100">100克</option>
                        <option value="200">200克</option>
                        <option value="300">300克</option>
                     </select>
                </div>
                <div class="add-shop-scale">
                    <span>商品售价</span>
                    <input type="text" placeholder="请输入商品售价" v-model="goodsprice">
                </div>
                <div class="add-shop-code">
                    <span>商品条码</span>
                    <input type="text" placeholder="请输入商品条码（选填）">
                </div>
            </div>
            <div class="block"></div>
            <div class="add-logo-img">
                <h3>购物车图（必传）</h3>
                <Uploads id="goods-title-img" :callback="(id,url)=>{titleImg=url}">
                        <div class="upload">
                            <span>+</span>
                            <span>上传图片</span>
                        </div>
                    </Uploads>
            </div>
            <div class="add-shop-upload">
                <h4>商品图片</h4>
                <div class="upload-success-img">
                    <Uploads id="goods-img1" :callback="collectImgUrl" :afterRemove="afterRemove">
                        <div class="upload">
                            <span>+</span>
                            <span>上传图片</span>
                        </div>
                    </Uploads>
                    <Uploads id="goods-img2" :callback="collectImgUrl" :afterRemove="afterRemove">
                        <div class="upload">
                            <span>+</span>
                            <span>上传图片</span>
                        </div>
                    </Uploads>
                    <Uploads id="goods-img3" :callback="collectImgUrl" :afterRemove="afterRemove">
                        <div class="upload">
                            <span>+</span>
                            <span>上传图片</span>
                        </div>
                    </Uploads>
                    <Uploads id="goods-img4" :callback="collectImgUrl" :afterRemove="afterRemove">
                        <div class="upload">
                            <span>+</span>
                            <span>上传图片</span>
                        </div>
                    </Uploads>
                </div>
                <div class="goods-detail">
                    <h3>商品详情</h3>
                    <Uploads id="goods-detail" :callback="(id,url)=>{detailImg=url}">
                        <div class="upload">
                            <span>+</span>
                            <span>上传图片</span>
                        </div>
                    </Uploads>
                </div>
            </div>
        </section>
        <footer class="addshop-footer">
            <button type="button" class="apply-add-btn" @click="addGoods">保存</button>
        </footer>
    </div>
</template>

<script>
// import Header from '../../components/Header';
import Uploads from '../../components/uploads';
import Checkbox from '../../components/checkbox';
export default {
    data(){
        return {
            msg:'添加平台商品',
            catList:[],
            goodsname:'',
            goodsprice:'',
            goodsweight:'',
            catagory:"",
            imgUrl:[],
            titleImg:'',
            detailImg:''
        }
    },
    created(){
        this.$indicator.open()
        this.$http.get('/back/catlist').then(res=>{
            
            if(res.code==0){
                this.catList = res.data.cat;
                this.$indicator.close()
            }else{
                this.$indicator.close();
                this.$messagebox.alert(res.msg)
            }
        })
    },
    components:{
        Uploads,
        Checkbox
    },
    methods:{
        goback(){
            this.$router.go(-1);
        },
        collectImgUrl(id,url){
            this.imgUrl.push(url)
        },
        afterRemove(url){
            let i = this.imgUrl.indexOf(url)
            this.imgUrl.splice(i,1)
        },
        addGoods(){
            let data ={
                goodsname:this.goodsname,
                goodsprice:this.goodsprice,
                goodsweight:this.goodsweight,
                catagory:this.catagory,
                imgUrl:this.imgUrl,
                titleImg:this.titleImg,
                detailImg:this.detailImg
            }
            this.$indicator.open()
            this.$http.post('/back/addGoods',data).then(res=>{
                console.log(res)
                if(res.code===0){
                    this.$indicator.close()
                    this.$messagebox.alert(res.msg)
                    this.$router.replace({
                        name:'home'
                    })
                }else{
                    this.$indicator.close()
                    this.$messagebox.alert("添加失败")
                }

            })
        }
    }
}
</script>

<style scoped src="./addGoods.css">
</style>
